<footer class="site-footer">
    <div class="container footer-top">
        <div>
            <strong class="logo">GTCC Cyber College</strong>
            <p>B1 L2 ABCD Sunny Brooke 2 Brgy. San Francisco General Tria City Cavite | TEL +63-46-402-1779 | 대표자 JONALYN KIM</p>
            <p>학교 법인 영지 CN200617264 | 한국 사업자 등록증 874-02-00894 통신판매업 신고번호 제2017-경기부천-1934호</p>
        </div>
        <div class="footer-links">
            <h3>바로가기</h3>
            <ul>
                <li><a link" href="http://gtcc.edu.ph/GTCC본교"</a></li>
                <li><a link" href="http://myyoungji.com/영지국제학교"</a></li>
                <li><a link" href="http://www.icqa.us/국제민간자격협회"</a></li>
                
            </ul>
        </div>
        <div class="footer-links">
            <h3>고객센터</h3>
            <ul>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#contact">1:1 문의</a></li>
                <li><a href="#location">오시는 길</a></li>
            </ul>
        </div>
    </div>
    <div class="container footer-bottom">
        <small>© 2024 Seoul Cyber Campus. All rights reserved.</small>
        <div class="social">
            <a href="#" aria-label="유튜브">YouTube</a>
            <a href="#" aria-label="인스타그램">Instagram</a>
            <a href="#" aria-label="페이스북">Facebook</a>
        </div>
    </div>
</footer>
